nav{
    background-color: #495057;
}

.logo-spacing{
    width: 41%;
}
.loggedInText{
    font-weight: 300;
}

.usernameText{
    color: aliceblue;
}

.mainContent{
    max-width: 75%;
}

.imgBox{
    border: 3px solid black;
    background-color: black;
    max-width: 256px;
    max-height: 144px;
    min-height: 144px;
}

.stdImg{
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 137px;
}