nav{
    background-color: #495057;
}

.logoSpacing{
    width: 46%;
}
.loggedInText{
    font-weight: 300;
}

.colouredText{
    color: aliceblue;
}

.mainContent{
    max-width: 83%;
    min-width: 83%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 256px);
    gap: 5px;
    margin: auto;

}

.themedButton{
    color: black;
    border-radius: 2px;
    border: 1px #495057;
    background-color: aliceblue;
}

.loginWindow{
    display: block;
    z-index: 999;
    max-width: 60%;
    min-width: 30%;
    border: 3px;
    color: aliceblue;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    margin-left: 20%;
    background-color:#3d4349
}

.postWindow{
    display: none;
    z-index: 998;
    max-width: 60%;
    border: 3px;
    color: aliceblue;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    margin-left: 20%;
    background-color:#3d4349
}

.loginFrame{
    position: relative;
    top: 15%;
    left: 12%;
}

.logoImg{
    margin-left: 15%;
    object-fit: scale-down;
    max-height: 10%;
    max-width: 70%;
}

.postContainer{
    max-height: 170px;
    max-width: 256px;
    color: aliceblue;
    word-wrap: break-word;
    overflow: hidden;
}

.imgBox{
    border: 3px solid black;
    background-color: black;
    max-width: 256px;
    max-height: 144px;
    min-height: 144px;
    min-width: 256px;
}

.stdImg{
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 137px;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}

.link{
    text-decoration: none;
    color: aliceblue;
    font-size: larger;
}

